body {
    padding: 0;
    /* font-family: 'Alatsi'; */
    font-size: 22px;
    background: url(../img/background_login_form.png) no-repeat;
    background-size: cover;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1 {
    font-family: 'Alfa Slab One';
    float: left;
    border-bottom: 6px solid white;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

::placeholder {
    color: black;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 22px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 3px solid white;
    color: white;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 0;
}